* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  color: #0007b0;
}

h3 {
  font-size: 2.5rem;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 5rem;
  padding: 1rem 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 60%;
  margin: 5rem auto;
}
.game-div {
  background: white;
  /* border: 1px solid #0007b0; */
  min-height: 40vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.player-choice,
.computer-choice {
  display: flex;
  flex: 1;
  flex-basis: 40%;
  margin: 8rem 6rem;
  padding: 5rem 5rem;
  width: 20rem;
  /* background-color: blue; */
}

.rock,
.paper,
.scissors {
  display: flex;
  flex: 1;
  flex-basis: 50rem;
  padding: 4rem 2rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #0007b0;
  margin: 0 0.1rem;
  transition: all 0.2s ease-in-out;
}

.rock.active,
.paper.active,
.scissors.active {
  border: 2px solid red;
}

.rock:hover,
.paper:hover,
.scissors:hover {
  color: #ffffff;
  background-color: #0006b0e8;
  /* border: 1px dashed rgb(255, 255, 255); */
  transform: scale(1.03);
}

.fa-regular {
  font-size: 4rem;
  /* background-color: white; */
  padding: 1rem 1rem;
}
i,
svg {
  pointer-events: none;
}

.play {
  background-color: #fff;
  color: #0007b0;
  font-size: 2rem;
  padding: 2rem 4rem;
  border: 1px dashed #0007b0;
  margin: 2rem 0rem;
  transition: all 0.3s ease-in-out;
}

.play:hover {
  color: #ffffff;
  background-color: #0006b0e8;
  border: 1px dashed rgb(255, 255, 255);
}
